body{
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100vh;
    background-image: url('aeaea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.button{
    width: 5rem;
    height: 5rem;
    background: rgba(0, 255, 255, 0.14);
    border-radius: 23px;
    position: fixed;
    bottom: 60vh;
    left: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button .fastforward{
    width: 91px;
    height: 91px;
    background: wheat;
    overflow: hidden;
    cursor: pointer;
    border-radius: 23px;
}

.button .fastforward img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
